table {
	display: table;
}
table tr {
	display: table-cell;
  
}
table tr td {
	display: block;
}

table{
  font-size: 1.5em;
  font-family: serif;
  background-color: lightgrey;
}


body {
  background-color: lightskyblue;
}

h1{
  color: black;
  text-align: left;
}

header{
color: black;
}

footer{
color: whitesmoke;
}

nav{
color: teal;
}

main{
color: black;
}